@import'./variables';
@import'./placeholders';
body {
    background-color: rgb(79, 44, 206);
}

h1 {
    font-size: 35px;
    color: white;
    border: solid 4px rgb(33, 34, 33);
    text-align: center;
}