$couleur: rgb(16, 163, 119);
$border: solid grey 4px;
$border1: 4px solid rgb(180, 58, 218);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  //     height: 100vh;
  //     overflow: hidden;
  //     position: relative;
  // }
  // li {
  //     list-style: none;
  // }
  // a {
  //     text-decoration: none;
  //     &:visited {
  //         color: yellow
  //     }
  // }
}

// ****************************** HEADER ****
// *********************************************************
//                         Accueil.home
// *********************************************************
.home__logo {
  background-color: cadetblue;
  text-align: center;
  height: 100%;

  & img {
    width: 100%;
    // transform: scale(0.4, 0.5);
    width: 50%;
    text-align: center;
    background-color: $couleur;
    padding: 20px;

    height: 100%;
  }
}
.home__geolocalisation {
  display: flex;
  width: 100%;
  justify-content: center;
  //  position: absolute;

  padding: 15px;
  background-color: $couleur;

  & .home__marker {
    position: relative;
    left: -15px;
    color: red;
  }
  & .home__geolocalisation--text {
    margin-right: 15px;
  }
}
// *****************************
// EXPLAIN
// *****************************
.explain {
  
  height: 350px;
  display: flex;
  background-color: rgba(235, 233, 230, 0.726);
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  & h1 {
    color: black;
    text-align: center;
    padding: auto;
  }

& .explain__btn{
    color:white;
      background-image: linear-gradient(to bottom,#e6d6df, #BB377D);
      border-radius: 25px;
      padding: 15px;
      border: transparent;
      margin-bottom: 20px;

  }
}


// ************************************************
// Fonctionnement 
// **************************************************