$couleur:rgb(252, 252, 252);
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: rgb(255, 255, 255);
}

.main_nav__logo {
    background-color: rgb(255, 255, 255);
    & img {
        background-color: rgb(255, 251, 251);
        padding: 5px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}

.main_nav__barregeolocalisation {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgb(231, 219, 219) 81%, rgb(207, 207, 200) 100%);
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding: 25px;
    .position {
        position: relative;
        right: 20px;
    }
}

.guide {
    background-color: cadetblue;
    padding: 55px;
}

.class_align {
    margin: -13px;
    text-align: center;
    margin-bottom: 35px;
}

p {
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
}

.select {
    box-shadow: 0px 0px 18px -5px #000000;
    background: linear-gradient(to bottom, #eb52c7 5%, #a263eb 100%);
    background-color: #eb52c7;
    border-radius: 37px;
    display: block;
    text-align: center;
    cursor: pointer;
    font-family: Arial;
    font-size: 18px;
    padding: 18px 11px;
    margin-top: 25px;
}

.select:hover {
    background: linear-gradient(to bottom, #a263eb 5%, #eb52c7 100%);
    background-color: #a263eb;
}

.select:active {
    position: relative;
    border-radius: 35px;
    top: 1px;
}

.button {
    display: inline-flex;
    height: 50px;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
}

.footer__logo {
    background-color: gray;
}

.choix {
    display: inline-flex;
    background-color: rgb(209, 221, 209);
    font-size: 24px;
    border-radius: 25px;
    padding: 15px;
    margin-left: 50px;
    position: relative;
}

.button1__rank {
    border: grey solid 2px;
    border-radius: 50%;
    color: hotpink;
    background-color: purple;
    padding: 5px;
    position: absolute;
    left: -15px;
    bottom: 15px;
}

.button1__rank:hover {
    box-shadow: rebeccapurple;
}

.choix {
    margin-bottom: 25px;
}

.bloc1 {
    padding: 25px
}

.item2 {
    display: flex;
    flex-direction: column;
    border: solid 2px rgb(128, 123, 123);
    box-shadow: 5px 5px 15px 5px #000000;
    border-radius: 25px 25px 0 0;
}

.item2 img {
    width: 100%;
    padding: 0px;
    border-radius: 15px 15px 0 0;
    height: 100%;
    margin-bottom: -5px;
}

h2 {
    padding-left: 15px;
    padding-top: 15px;
}

.carditem {
    padding-left: 15px;
    padding-bottom: 15px;
}

.item4 {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    right: 15px;
    top: -35px;
    font-size: 35px;
}

.h_container {
    background-color: #ddcfda;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    display: inline-block;
    width: 65px;
    height: 35px;
    text-align: center;
    line-height: 45px;
}

#heart {
    font-size: 25px;
}

#heart:active {
    font-color: red;
}